.sidebar {
  width: 64px;
  padding: 16px 0;
  background: var(--theme-grey-background);
  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    img {
      width: 36px;
      height: 36px;
    }
  }
  &__logout-btn {
    width: 100%;
    height: 56px;
    cursor: pointer;
  }
}

.nav {
  &__list {
    li {
      width: 100%;
      height: 56px;
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
          position: absolute;
          content:"";
          top: 0;
          left: 0;
          height: 100%;
          width: 2px;
          background: transparent;
          transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &.active {
          &::before {
            background: var(--theme-primary);
            border-radius: 0px 100px 100px 0px;
          }
          svg path,
          svg {
            fill: var(--theme-primary);
          }
        }
      }
    }
  }
}

@media screen and (hover:hover) {
  .nav {
    a:hover::before {
      background: var(--theme-primary);
      border-radius: 0px 100px 100px 0px;
    }
  }
  .sidebar__logout-btn:hover svg path {
    fill: var(--theme-primary);
  }
}