$main-text: #171A1F;
$primary: #248BF2;
$primary-hovered: #3399FF;
$primary-active: #1677D9;
$grey-text: #71747A;
$grey-background: #F2F3F5;
$grey-background-hovered: #EBEDF0;
$grey-background-active: #1677D9;
$input-placeholder: #9D9FA3;
