// $main-text: #171A1F;
// $primary: #248BF2;
// $primary-hovered: #3399FF;
// $primary-active: #1677D9;
// $grey-text: #71747A;
// $grey-background: #F2F3F5;
// $grey-background-hovered: #EBEDF0;
// $grey-background-active: #1677D9;
// $input-placeholder: #9D9FA3;
@use 'sass:map';
$theme-map-light: (
  --theme-bg: #fff,
  --theme-scrollbar-track: #c4c4c4,
  --chat-info-bg: #fff,
  --chat-bg: #ececec,
  --theme-aside-bg: rgba(0, 0, 0, 0.08),
  --theme-primary: #248bf2,
  --theme-main-text: #171a1f,
  --theme-primary-hovered: #3399ff,
  --theme-primary-active: #1677d9,
  --theme-grey-text: #71747a,
  --svg-fill: #71747a,
  --theme-grey-background: #f2f3f5,
  --theme-grey-background-hovered: #ebedf0,
  --theme-grey-background-active: #1677d9,
  --theme-input-placeholder: #9d9fa3,
  --theme-input: rgba(201, 204, 209, 0.24),
);

$theme-map-dark: (
  --theme-bg: #111010,
  --theme-scrollbar-track: #cfb2b2,
  --chat-info-bg: #fafaf8,
  --chat-bg: #8585818a,
  --theme-aside-bg: rgba(240, 227, 227, 0.08),
  --theme-primary: #888f45,
  --theme-main-text: #dce1e9,
  --theme-primary-hovered: #8c9f4d9e,
  --theme-primary-active: #8c9f4d52,
  --theme-grey-text: #b3bb77,
  --svg-fill: #888f4572,
  --theme-grey-background: #f2f3f5,
  --theme-grey-background-hovered: #ebedf0,
  --theme-grey-background-active: #c6c662,
  --theme-input-placeholder: #c6c662a8,
  --theme-input: rgba(234, 236, 240, 0.24),
);

$theme-map-northern: (
  --theme-bg: #0f3043,
  --theme-scrollbar-track: #c4c4c4,
  --theme-chat-info-bg: #053049,
  --theme-chat-bg: #ececec,
  --theme-aside-bg: rgba(0, 0, 0, 0.08),
  --theme-primary: #027946e5,
  --theme-main-text: #fff,
  --theme-primary-hovered: #01a15c,
  --theme-primary-active: #027946e5,
  --theme-grey-text: rgba(255, 255, 255, 0.6),
  --svg-fill: #fff,
  --theme-grey-background: #f2f3f5,
  --theme-grey-background-hovered: #ebedf0,
  --theme-grey-background-active: #1677d9,
  --theme-input-placeholder: #d1ddcd,
  --theme-input: rgba(201, 204, 209, 0.44),
);
// Override the default light theme
