.home {
    height: 100vh;
    display: flex;
}

.aside {
    width: 360px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: -1px;
        background: rgba(0, 0, 0, 0.08);
        width: 1px;
        height: 100%;
      }
    &__top {
        padding: 12px 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }
}


.chat {
    flex: 1;
    & .container {
        height: 100%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-info {
        height: 56px;
        padding: 6px 0;
        background: #fff;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        &__inner {
            padding: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__description {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}


.messages {
    flex: 1;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: visible;
    &__list {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: visible;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background-color: #C4C4C4;
            border-radius: 2px;
            background-clip: content-box;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #191C21;
            border-radius: 2px;
            height: 40px !important;
        }
    }
}


.message {
    display: flex;
    gap: 8px;
    align-items: end;
    &-text {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.24px;
        color: #171A1F;
    }
    &-info {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.08px;
        color: #71747A;
        margin-bottom: 8px;
    }
    &-content {
        max-width: 500px;
        padding: 15px;
        border-radius: 15px;
        background: #ececec;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before,
        &::after {
            bottom: -0.1rem;
            content: "";
            height: 1rem;
            position: absolute;
        }

    }
    &__img {
        max-width:80%;
        height: auto;
    }
    &.owner {
        justify-content: flex-end;
        .message-text {
            color: #fff;
        }
        .message-content {
            background: #579ffb;
            order: 0;
            color: #fff !important;

            &::before {
                border-bottom-left-radius: 0.8rem 0.7rem;
                border-right: 1rem solid #579ffb;
                right: -0.35rem;
                transform: translate(0, -0.1rem);
            }
            &::after {
                background-color: #fff;
                border-bottom-left-radius: 0.5rem;
                right: -40px;
                transform:translate(-30px, -2px);
                width: 10px;
            }

        }
        .message-info {
            color: #fff;
        }
        .message__user-photo {
            order: 1;
        }
    }
    &.sender {
        .message-content {
            &:before {
                border-bottom-right-radius: 0.8rem 0.7rem;
                border-left: 1rem solid #ececec;
                left: -0.35rem;
                transform: translate(0, -0.1rem);
              }
              
              &::after {
                background-color: #fff;
                border-bottom-right-radius: 0.5rem;
                left: 20px;
                transform: translate(-30px, -2px);
                width: 10px;
              }
        }
    }
    &__user-photo img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.chats {
    padding: 20px 0px;
    overflow: hidden;
    flex: 1;
}

.user-chat {

    &__inner {
        display: flex;
        gap: 16px;
        align-items: center;
        cursor: pointer;
        padding: 8px 0;
        transition: background-color 0.4s ease-in-out;
        max-width: 100%;
    }
    &__message {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            align-items: flex-start;
            font-weight: 600;
            font-size: 15px;
            line-height: 24px;
        }
        div {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.24px;
            color: #71747A;
            height: 40px;
            word-break: break-word;
        }

    }
    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}



@media screen and (hover:hover) {
    .user-chat:hover {
        background: #398FE5;
        color: #fff;
        .user-chat__message div {
            color: #fff;
        }
    }
}