.bottom_part {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  .year {
    font-size: 18px;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.568);
  }

  .team_logo {
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    img {
      opacity: 10%;
      transition: all 1s;
    }
    img:hover {
      opacity: 10;
    }
  }
  .rs_logo {
    img {
      opacity: 10%;
      transition: all 1s;
    }
    img:hover {
      opacity: 10;
    }
  }
}
